* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: #f8f8f8;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
  height: 100%;
  max-height: 500px;
  padding: 2%;
}


.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.form-group {
  margin: 1em 0em;
  display: flex;
  justify-content: flex-start;
}

.confirm_button {
  color: #ffffff !important;
  background-image: linear-gradient(-90deg, rgb(255, 0, 34), purple);
  padding: 8px;
  border: 0px solid #ffffff;
  border-radius: 25px;
  display: inline-block;
  text-align: center;
  width: 100%;
  max-width: 90px;
  justify-content: center;
  outline: none;
  font-size: 0.9em;
}

.form-group {
  margin-top: 23px;
}
.form-group-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 60% 50% 1fr;
  justify-content: space-between;
}
.form-group-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px;
  color: rgb(155, 154, 154);
}
.dark-thumb {
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  font-size: 1.2em;
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  margin-right: 22px;
}

.dark-comment {
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  font-size: 1.2em;
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  margin-right: 22px;
}

.item_name {
  position: relative;
  z-index: 100;
  left: 25px;
  padding: 5px;
}

.icon_card {
  padding: 0px 50px 0px 50px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.icon {
  font-size: 1.2em;
  outline: none;
  border: none;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .article__attachment {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
  }

  .form-container {
    padding: 0px;
  }
}
