body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  background: #f4f4ef;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
  height: 100%;
  max-height: 500px;
  padding: 2%;
}

.post_heading {
  text-align: start;
  font-weight: 200;
  font-size: 28px;
  color: #000000;
}

.form-group {
  margin: 1em 0em;
  display: flex;
  justify-content: flex-start;
}

.confirm_button {
  color: #ffffff !important;
  background-image: linear-gradient(-90deg, rgb(255, 0, 34), purple);
  padding: 7px;
  border: 0px solid #ffffff;
  border-radius: 20px;
  width: 100%;
  max-width: 100px;
  font-size: 14px;
  /* height: 100%;
  max-height: 40px;
  display: flex;
  justify-content: center; */
}

.form-group {
  margin-top: 23px;
}
.form-group-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 50% 50% 1fr;
}
.form-group-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 2px;
  color: rgb(155, 154, 154);
}
.dark-thumb {
  border: none;
  text-align: center;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}

.dark-comment {
  border: none;
  text-align: center;
  font-size: 20px;

  cursor: pointer;
  outline: none;
  display: inline-block;
}

.item_name {
  position: relative;
  z-index: 100;
  left: 25px;
  padding: 5px;
}

.icon_card {
  padding: 0px 10px 0px 10px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.icon {
  font-size: 1.4em;
}
.icon_wrapper {
  cursor: pointer;
  outline: none;
  border: none;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .post_heading {
    text-align: start;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
  }

  .form-container {
    padding: 0px;
  }

  .confirm_button {
    height: 100%;
    max-height: 38px;
    font-size: 1em;
  }
  .wrapper {
    font-size: 0.9em;
    color: #000000;
  }
}

/* .custom-control-label {
  border: 1px solid rgb(90, 204, 109);
  border-radius: 8px;
  width: 100%;
  position: relative;
  margin-right: 12px;
} */

.custom-checkbox {
  border: 1px solid rgb(90, 111, 204);
  border-radius: 8px;
  width: 100%;
  padding: 10px 0px 10px 16px;
}

.custom-control-input {
  height: 24px;
  width: 24px;
}
