// css for like button

// span {
//   background-image: url(./assets/images/heart.png);
//   background-repeat:  no-repeat;
//   display: block;
//   width: 24px;
//   height: 20px;
//   cursor: pointer;
//   text-indent: -9999px;
// }
.heartOpen {
  background-position: 0 0;
}
.heartFull {
  background-position: 0 -20px;
}

// css for checkedfieldelement

label {
  border-radius: 8px;
  width: 100%;
  padding: 10px 0px 10px 16px;
  cursor: pointer;
  outline: none;
  position: relative;
  border: 1px solid rgb(168, 168, 168);
  background-color: #fff;
}

label input[type="checkbox"] {
  visibility: hidden;
}

.round-checked {
  border: 1px solid rgb(90, 111, 204);
  box-shadow: 0px 1px 3px rgb(90, 111, 204);
  color: rgb(31, 64, 211);
}

.round-unchecked label {
  border-radius: 50%;
  position: absolute;
  height: 28px;
  width: 28px;
  left: -13px;
  top: 8px;
}

.round-checked label {
  border-radius: 50%;
  position: absolute;
  height: 28px;
  width: 28px;
  left: -13px;
  top: 8px;
}

.round-checked label:after {
  border: 1.5px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 13px;
}

.round-checked input[type="checkbox"]:checked + label {
  background-color: rgb(90, 111, 204);
  border-color: rgb(90, 111, 204);
}

.round-checked input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
